*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: sans-serif;
}

:root {
  --color-primary-1: #49c5b6;
  --color-primary-2: #42ab9e;
  --color-black-1: #202121;
  --color-black-2: #202121e6;
  --color-white: #ffffff;
  --color-grey: #f4f7f6;
}

.btn {
  padding: 2rem;
  border: none;
}

.icon {
  height: 2.2rem;
  width: 2.3rem;
}

.header {
  display: flex;
  height: 6rem;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 9rem;
  display: flex;
}

.box-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-left: 1px solid var(--color-black-2);
}

.icon--search {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}

.icon--logo {
  margin: 0 auto;
}

.icon--logo svg {
  height: 2rem;
}

.nav-auth {
  margin-right: 2rem;
}

.nav-auth a {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-black-1);

  transition: all 0.3s;
}

.nav-auth a:hover {
  color: #64686a;
}

.nav-profile {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.nav-profile__name {
  margin-right: 1rem;
  font-family: "apercu", sans-serif;
}

.btn--submit {
  text-decoration: none;
  padding: 1rem;
  height: 100%;
  color: var(--color-white);
  background-color: var(--color-black-1);

  /* Bring text to the center */
  display: flex;
  align-items: center;

  transition: all 0.3s;
}

.btn--submit:hover {
  background-color: var(--color-black-2);
}
